.MesurmentPanel1 
{
	margin-left: auto;
	margin-right: auto;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
  }

.ViewDetails1
{
	margin-left:auto;
	margin-right: auto;
}
.Reportdetails1
{
	margin-left:auto;
	margin-right: auto;
}

.Billdetails1
{
	margin-left:auto;
	margin-right: auto;
}

.MesurmentPanel2 
{
	margin-left: 220px;
	margin-right: auto;
}